img {
    width: 450px;
    height: 350px;
    margin: 10px;
    transition: all 2s;
    box-shadow: 4px 4px 5px #888888;
}

h1 {
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px solid pink;
    width: auto;
    text-align: center;
    text-shadow: 2px 2px 2px #888888;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

img:hover {
    transform: scale(1.1);
}